doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="stylesheet", href="/css/styles.css")
        block styles
    body 
        header.barraSuperior
            nav
                li.nav-item
                    a.nav-link(active, href="#") Item 1 cojonexx

                li.nav-item
                    a.nav-link(disabled, href="#" tabindex="-1" aria-disabled="true") Item 2
        block content
