extends layouts/app.pug

block content
    div.main
        div.description
            div.content
                h1 Escribe el codigo aqui
            div.interfaz
                textarea(name="" id="" cols="100" rows="30")

    div.footer
        a laijfnlaefnmkla
